
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import 'custom';

.img403{
  width:100%;
  position: absolute; 
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%);
}

.link403{
  text-decoration: none !important;
  position: absolute; 
  top: 60%; 
  left: 50%;
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%);
  opacity: 0.5;
  width: 20%;
  height: 20%;
  text-align:center;
  vertical-align: middle;
}